*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
iframe,
video {
  max-width: 100%;
  display: block;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}
