<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /new-age/official/site/
</IfModule>

DirectoryIndex index.php

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
